body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #000;
  transition: 0.3s;
}

body.dark {
  background: #121212;
  color: #fff;
}

button {
  margin: 15px;
  padding: 8px 12px;
  cursor: pointer;
}

.project {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 6px;
}

body.dark .project {
  background: #1e1e1e;
}

/* Animasyon */
.fade {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
